{
  "info": {
    "_postman_id": "945708bb-87b6-48fa-a9b8-5f2c52dd87b1",
    "name": "proyect_ultimate_bicycles",
    "schema": "https://schema.getpostman.com/json/collection/v2.1.0/collection.json",
    "_exporter_id": "58320216",
    "_collection_link": "https://go.postman.co/collection/58320216-945708bb-87b6-48fa-a9b8-5f2c52dd87b1?source=collection_link"
  },
  "item": [
    {
      "name": "bicycles",
      "item": [
        {
          "name": "GET ALL Bicycle",
          "request": {
            "method": "GET",
            "header": [],
            "url": {
              "raw": "http://localhost:3000/api/bicycles",
              "protocol": "http",
              "host": [
                "localhost"
              ],
              "port": "3000",
              "path": [
                "api",
                "bicycles"
              ]
            }
          },
          "response": []
        },
        {
          "name": "POST Bicycle",
          "request": {
            "method": "POST",
            "header": [],
            "body": {
              "mode": "raw",
              "raw": "{\r\n  \"brandId\": \"1\",\r\n  \"model\": \"Sky\",\r\n  \"description\": \"Great for any occassion\",\r\n  \"price\": 189.99,\r\n  \"stock\": 10\r\n}",
              "options": {
                "raw": {
                  "language": "json"
                }
              }
            },
            "url": {
              "raw": "http://localhost:3000/api/bicycles",
              "protocol": "http",
              "host": [
                "localhost"
              ],
              "port": "3000",
              "path": [
                "api",
                "bicycles"
              ]
            }
          },
          "response": []
        },
        {
          "name": "PUT Bicycle",
          "request": {
            "method": "PUT",
            "header": [],
            "body": {
              "mode": "raw",
              "raw": "{\r\n  \"brand\": \"Orbea\",\r\n  \"model\": \"Sky\",\r\n  \"description\": \"Great for any occassion\",\r\n  \"price\": 189.99,\r\n  \"stock\": 0\r\n}",
              "options": {
                "raw": {
                  "language": "json"
                }
              }
            },
            "url": {
              "raw": "http://localhost:3000/api/bicycles/2",
              "protocol": "http",
              "host": [
                "localhost"
              ],
              "port": "3000",
              "path": [
                "api",
                "bicycles",
                "2"
              ]
            }
          },
          "response": []
        },
        {
          "name": "DELETE Bicycle",
          "request": {
            "method": "DELETE",
            "header": [],
            "url": {
              "raw": "http://localhost:3000/api/bicycles/1",
              "protocol": "http",
              "host": [
                "localhost"
              ],
              "port": "3000",
              "path": [
                "api",
                "bicycles",
                "1"
              ]
            }
          },
          "response": []
        },
        {
          "name": "GET Bicycle Eagerly",
          "request": {
            "method": "GET",
            "header": [],
            "body": {
              "mode": "raw",
              "raw": "{\r\n  \"brand\": \"BH\",\r\n  \"model\": \"Sky\",\r\n  \"description\": \"Great for any occassion\",\r\n  \"price\": 189.99,\r\n  \"stock\": 10\r\n}",
              "options": {
                "raw": {
                  "language": "json"
                }
              }
            },
            "url": {
              "raw": "http://localhost:3000/api/bicycles/eagerly/1",
              "protocol": "http",
              "host": [
                "localhost"
              ],
              "port": "3000",
              "path": [
                "api",
                "bicycles",
                "eagerly",
                "1"
              ]
            }
          },
          "response": []
        }
      ]
    },
    {
      "name": "brands",
      "item": [
        {
          "name": "GET Brand",
          "request": {
            "method": "GET",
            "header": [],
            "url": {
              "raw": "http://localhost:3000/",
              "protocol": "http",
              "host": [
                "localhost"
              ],
              "port": "3000",
              "path": [
                ""
              ]
            }
          },
          "response": []
        },
        {
          "name": "GET ALL Brand",
          "request": {
            "method": "GET",
            "header": [],
            "url": {
              "raw": "http://localhost:3000/api/bicycles",
              "protocol": "http",
              "host": [
                "localhost"
              ],
              "port": "3000",
              "path": [
                "api",
                "bicycles"
              ]
            }
          },
          "response": []
        },
        {
          "name": "POST Brand",
          "request": {
            "method": "POST",
            "header": [],
            "body": {
              "mode": "raw",
              "raw": "{\r\n  \"brand\": \"BH\",\r\n  \"model\": \"Sky\",\r\n  \"description\": \"Great for any occassion\",\r\n  \"price\": 189.99,\r\n  \"stock\": 10\r\n}",
              "options": {
                "raw": {
                  "language": "json"
                }
              }
            },
            "url": {
              "raw": "http://localhost:3000/api/bicycles",
              "protocol": "http",
              "host": [
                "localhost"
              ],
              "port": "3000",
              "path": [
                "api",
                "bicycles"
              ]
            }
          },
          "response": []
        },
        {
          "name": "PUT Brand",
          "request": {
            "method": "PUT",
            "header": [],
            "body": {
              "mode": "raw",
              "raw": "{\r\n  \"brand\": \"Orbea\",\r\n  \"model\": \"Sky\",\r\n  \"description\": \"Great for any occassion\",\r\n  \"price\": 189.99,\r\n  \"stock\": 0\r\n}",
              "options": {
                "raw": {
                  "language": "json"
                }
              }
            },
            "url": {
              "raw": "http://localhost:3000/api/bicycles/2",
              "protocol": "http",
              "host": [
                "localhost"
              ],
              "port": "3000",
              "path": [
                "api",
                "bicycles",
                "2"
              ]
            }
          },
          "response": []
        },
        {
          "name": "DELETE Brand",
          "request": {
            "method": "DELETE",
            "header": [],
            "url": {
              "raw": "http://localhost:3000/api/bicycles/1",
              "protocol": "http",
              "host": [
                "localhost"
              ],
              "port": "3000",
              "path": [
                "api",
                "bicycles",
                "1"
              ]
            }
          },
          "response": []
        }
      ]
    },
    {
      "name": "bicyclesDetails",
      "item": [
        {
          "name": "GET Bicycles Details",
          "request": {
            "method": "GET",
            "header": [],
            "url": {
              "raw": "http://localhost:3000/",
              "protocol": "http",
              "host": [
                "localhost"
              ],
              "port": "3000",
              "path": [
                ""
              ]
            }
          },
          "response": []
        },
        {
          "name": "GET ALL Bicycles Details",
          "request": {
            "method": "GET",
            "header": [],
            "url": {
              "raw": "http://localhost:3000/api/bicycles",
              "protocol": "http",
              "host": [
                "localhost"
              ],
              "port": "3000",
              "path": [
                "api",
                "bicycles"
              ]
            }
          },
          "response": []
        },
        {
          "name": "POST Bicycles Details",
          "request": {
            "method": "POST",
            "header": [],
            "body": {
              "mode": "raw",
              "raw": "{\r\n  \"brand\": \"BH\",\r\n  \"model\": \"Sky\",\r\n  \"description\": \"Great for any occassion\",\r\n  \"price\": 189.99,\r\n  \"stock\": 10\r\n}",
              "options": {
                "raw": {
                  "language": "json"
                }
              }
            },
            "url": {
              "raw": "http://localhost:3000/api/bicycles",
              "protocol": "http",
              "host": [
                "localhost"
              ],
              "port": "3000",
              "path": [
                "api",
                "bicycles"
              ]
            }
          },
          "response": []
        },
        {
          "name": "PUT Bicycles Details",
          "request": {
            "method": "PUT",
            "header": [],
            "body": {
              "mode": "raw",
              "raw": "{\r\n  \"brand\": \"Orbea\",\r\n  \"model\": \"Sky\",\r\n  \"description\": \"Great for any occassion\",\r\n  \"price\": 189.99,\r\n  \"stock\": 0\r\n}",
              "options": {
                "raw": {
                  "language": "json"
                }
              }
            },
            "url": {
              "raw": "http://localhost:3000/api/bicycles/2",
              "protocol": "http",
              "host": [
                "localhost"
              ],
              "port": "3000",
              "path": [
                "api",
                "bicycles",
                "2"
              ]
            }
          },
          "response": []
        },
        {
          "name": "DELETE Bicycles Details",
          "request": {
            "method": "DELETE",
            "header": [],
            "url": {
              "raw": "http://localhost:3000/api/bicycles/1",
              "protocol": "http",
              "host": [
                "localhost"
              ],
              "port": "3000",
              "path": [
                "api",
                "bicycles",
                "1"
              ]
            }
          },
          "response": []
        }
      ]
    }
  ]
}